.sub2_Alist1_pdf1, .sub2_Alist1_pdf2,
.sub2_Alist2_pdf1, .sub2_Alist2_pdf2,
.sub2_Alist3_pdf1,
.sub2_Alist4_pdf1,
.sub2_Alist5_pdf1, 
.sub2_Alist6_pdf1,
.sub2_Alist7_pdf1, 
.sub2_Alist8_pdf1,
.sub2_Alist9_pdf1, 
.sub2_Alist10_pdf1,
.sub2_Alist11_pdf1, 
.sub2_Alist12_pdf1,
.sub2_Alist13_pdf1, 
.sub2_Alist14_pdf1,
.sub2_Alist15_pdf1, 
.sub2_Alist16_pdf1,
.sub2_Alist17_pdf1, 
.sub2_Alist18_pdf1 {
    margin-left: 90px;
    width: calc(100vw - 90px);
    height: 100vh;
    display: none;
}
.sub2_Blist1_pdf1,
.sub2_Blist2_pdf1, .sub2_Blist2_pdf2,
.sub2_Blist3_pdf1, .sub2_Blist3_pdf2, 
.sub2_Blist4_pdf1, .sub2_Blist4_pdf2,
.sub2_Blist5_pdf1, .sub2_Blist5_pdf2, 
.sub2_Blist6_pdf1, .sub2_Blist6_pdf2,
.sub2_Blist7_pdf1, .sub2_Blist7_pdf2,
.sub2_Blist8_pdf1, .sub2_Blist8_pdf2,
.sub2_Blist9_pdf1, .sub2_Blist9_pdf2, 
.sub2_Blist10_pdf1, .sub2_Blist10_pdf2,
.sub2_Blist11_pdf1, .sub2_Blist11_pdf2,
.sub2_Blist12_pdf1, .sub2_Blist12_pdf2,
.sub2_Blist13_pdf1, .sub2_Blist13_pdf2,
.sub2_Blist14_pdf1, .sub2_Blist14_pdf2,
.sub2_Blist15_pdf1, .sub2_Blist15_pdf2, 
.sub2_Blist16_pdf1, .sub2_Blist16_pdf2,
.sub2_Blist17_pdf1, .sub2_Blist17_pdf2,
.sub2_Blist17_pdf3, .sub2_Blist17_pdf4,
.sub2_Blist17_pdf5{
    margin-left: 90px;
    width: calc(100vw - 90px);
    height: 100vh;
    display: none;
}

.sub2_Clist1_pdf1, .sub2_Clist1_pdf2,
.sub2_Clist2_pdf1, .sub2_Clist2_pdf2,
.sub2_Clist3_pdf1,
.sub2_Clist4_pdf1,
.sub2_Clist5_pdf1, 
.sub2_Clist6_pdf1,
.sub2_Clist7_pdf1, 
.sub2_Clist8_pdf1,
.sub2_Clist9_pdf1, 
.sub2_Clist10_pdf1,
.sub2_Clist11_pdf1, 
.sub2_Clist12_pdf1,
.sub2_Clist13_pdf1, 
.sub2_Clist14_pdf1,
.sub2_Clist15_pdf1{
    margin-left: 90px;
    width: calc(100vw - 90px);
    height: 100vh;
    display: none;
}

.sub2_Dlist1_pdf1, .sub2_Dlist1_pdf2,
.sub2_Dlist2_pdf1, .sub2_Dlist2_pdf2,
.sub2_Dlist3_pdf1, 
.sub2_Dlist4_pdf1,
.sub2_Dlist5_pdf1, 
.sub2_Dlist6_pdf1,
.sub2_Dlist7_pdf1{
    margin-left: 90px;
    width: calc(100vw - 90px);
    height: 100vh;
    display: none;
}

.sub2_Elist1_pdf1,
.sub2_Elist2_pdf1,
.sub2_Elist3_pdf1, 
.sub2_Elist4_pdf1,
.sub2_Elist5_pdf1{
    margin-left: 90px;
    width: calc(100vw - 90px);
    height: 100vh;
    display: none;
}

.sub2_Flist1_pdf1, 
.sub2_Flist2_pdf2{
    margin-left: 90px;
    width: calc(100vw - 90px);
    height: 100vh;
    display: none;
}