.sub2_menu{
    width: 320px;
    height: 100%;
    background-color: rgb(196, 194, 194);
    position: fixed;
    left: 600px;
    display: none;
}

.sub2_Alist1, .sub2_Alist2,  
.sub2_Alist3, .sub2_Alist4,
.sub2_Alist5, .sub2_Alist6,
.sub2_Alist7, .sub2_Alist8,
.sub2_Alist9, .sub2_Alist10,
.sub2_Alist11, .sub2_Alist12,
.sub2_Alist13, .sub2_Alist14,
.sub2_Alist15, .sub2_Alist16,
.sub2_Alist17, .sub2_Alist18{
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 195px;   
    display: none;
}

.sub2_Alist1 li, .sub2_Alist2 li, 
.sub2_Alist3 li, .sub2_Alist4 li,
.sub2_Alist5 li, .sub2_Alist6 li,
.sub2_Alist7 li, .sub2_Alist8 li,
.sub2_Alist9 li, .sub2_Alist10 li,
.sub2_Alist11 li, .sub2_Alist12 li,
.sub2_Alist13 li, .sub2_Alist14 li,
.sub2_Alist15 li, .sub2_Alist16 li,
.sub2_Alist17 li, .sub2_Alist18 li{
    color: #000;
/*     padding: 5px 0; */
    text-align: left; 
    font-size: 13px;
    padding: 0 0 8px 30px;
    /* display: none; */
}    



.sub2_Blist1, .sub2_Blist2, 
.sub2_Blist3, .sub2_Blist4,
.sub2_Blist5, .sub2_Blist6,
.sub2_Blist7, .sub2_Blist8,
.sub2_Blist9, .sub2_Blist10,
.sub2_Blist11, .sub2_Blist12,
.sub2_Blist13, .sub2_Blist14,
.sub2_Blist15, .sub2_Blist16,
.sub2_Blist17{
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 265px;   
    display: none;
}

.sub2_Blist1 li, .sub2_Blist2 li,
.sub2_Blist3 li, .sub2_Blist4 li,
.sub2_Blist5 li, .sub2_Blist6 li,
.sub2_Blist7 li, .sub2_Blist8 li,
.sub2_Blist9 li, .sub2_Blist10 li,
.sub2_Blist11 li, .sub2_Blist12 li,
.sub2_Blist13 li, .sub2_Blist14 li,
.sub2_Blist15 li, .sub2_Blist16 li,
.sub2_Blist17 li{
    color: #000;
    padding: 5px 0;
    text-align: left;
    font-size: 13px;
    padding: 0 0 8px 30px;
/*     display: none; */
}

.sub2_Clist1, .sub2_Clist2, 
.sub2_Clist3, .sub2_Clist4,
.sub2_Clist5, .sub2_Clist6,
.sub2_Clist7, .sub2_Clist8,
.sub2_Clist9, .sub2_Clist10,
.sub2_Clist11, .sub2_Clist12,
.sub2_Clist13, .sub2_Clist14,
.sub2_Clist15{
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 330px;   
    display: none;
}

.sub2_Clist1 li, .sub2_Clist2 li,
.sub2_Clist3 li, .sub2_Clist4 li,
.sub2_Clist5 li, .sub2_Clist6 li,
.sub2_Clist7 li, .sub2_Clist8 li,
.sub2_Clist9 li, .sub2_Clist10 li,
.sub2_Clist11 li, .sub2_Clist12 li,
.sub2_Clist13 li, .sub2_Clist14 li,
.sub2_Clist15 li{
    color: #000;
    padding: 5px 0;
    text-align: left;
    font-size: 13px;
    padding: 0 0 8px 30px;
/*     display: none; */
}

.sub2_Dlist1, .sub2_Dlist2, 
.sub2_Dlist3, .sub2_Dlist4,
.sub2_Dlist5, .sub2_Dlist6,
.sub2_Dlist7{
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 400px;   
    display: none;
}

.sub2_Dlist1 li, .sub2_Dlist2 li,
.sub2_Dlist3 li, .sub2_Dlist4 li,
.sub2_Dlist5 li, .sub2_Dlist6 li,
.sub2_Dlist7 li{
    color: #000;
    padding: 5px 0;
    text-align: left;
    font-size: 13px;
    padding: 0 0 8px 30px;
/*     display: none; */
}

.sub2_Elist1, .sub2_Elist2, 
.sub2_Elist3, .sub2_Elist4,
.sub2_Elist5{
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 470px;   
    display: none;
}

.sub2_Elist1 li, .sub2_Elist2 li,
.sub2_Elist3 li, .sub2_Elist4 li,
.sub2_Elist5 li{
    color: #000;
    padding: 5px 0;
    text-align: left;
    font-size: 13px;
    padding: 0 0 8px 30px;
/*     display: none; */
}

.sub2_Flist1, .sub2_Flist2{
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 540px;   
    display: none;
}

.sub2_Flist1 li, .sub2_Flist2 li{
    color: #000;
    padding: 5px 0;
    text-align: left;
    font-size: 13px;
    padding: 0 0 8px 30px;
/*     display: none; */
}
