.search_btn{
    cursor: pointer;
    position: absolute;
    /* margin : 700px 90px 0 90px; */
    bottom:200px;
    left: 93px;

}

.search_btn_bar{
    cursor: pointer;
    position: absolute;
    bottom:200px;
    left: 39px;
}

.close_btn{
    cursor: pointer;
    position: absolute;
    padding: 20px 0 0 360px;
    display: none;
}

.close_btn2{
    cursor: pointer;
    position: absolute;
    padding: 20px 0 0 280px;
}

.main2_close_btn{
    cursor: pointer;
    position: absolute;
    right: 60px;
    top: 35px;
}

.menu_bar{
    cursor: pointer;
    padding: 33px;
    position: absolute;
}
